* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
  }

  .container {
    padding: 3vh 3vh;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    width: 96vw;
    height: 94vh;
    gap: 10px;
    text-align: center;
  }
  
  #item-1 {
    font-size: 1.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vh;
    grid-column: 2;
    grid-row: 1;
    background-color: steelblue;
  }
  
  #item-2 { 
    writing-mode:vertical-lr;
    transform: rotate(180deg);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vh;
    grid-column: 1;
    background-color: #fe7e02;
  }
  
  #item-3 {
    writing-mode:vertical-lr;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vh;
    grid-column: 3;
    background-color: #45525b;
  }
  
  @media screen and (min-device-width:800px) and (max-device-width:1200px) {
    .container {
    width: 96vw;
    height: 94vh;
    grid-template-columns:8fr 2fr;
    grid-template-rows: 8fr 2fr;
    gap: 10px;
    }

    #item-1 {
      grid-column: 1;
      grid-row: 1fr/7fr;
    }
    #item-3 { 
      writing-mode: vertical-lr;
      
      grid-column: 2;
      grid-row:1/10;
    }
    #item-2 {
      writing-mode: horizontal-tb;
      transform: rotate(0deg);
      grid-column: 1;
      grid-row: 2/10;
      }
  }

  @media screen and (max-device-width:800px) {
    .container {
      width: 96vw;
      height: 94vh;
      grid-template-columns: 5fr 5fr;
      grid-template-rows: 8fr 2fr;
      }
      #item-1 {
        grid-column: 1/3;
        grid-row: 1;
      }

      #item-2 { 
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        grid-column: 1;
        grid-row:2;
      }
      #item-3 {
        writing-mode: horizontal-tb;
        grid-column: 2;
        grid-row: 2;
      }
    }